.scene {
    -fx-background-color: #2f3033;
}
.menubar {
    -fx-background-color: #535c68;
}

.mainmenu {
    -fx-background-image: url('../resources/battleships.jpg');
    -fx-background-size: cover;
}

.mainmenuPanel {
    -fx-background-color: rgba(20, 20, 20, 0.85);
}

.header {
    -fx-font-weight: bold;
}

.counter {
    -fx-font-weight: bold;
}

.header_leaderboards{
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #1b1c2a,
        radial-gradient(center 50% 0%, radius 100%, rgba(121, 127, 148, 0.9), rgba(255,255,255,0));
    -fx-padding: 10 20 10 20;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #c4c7d0);
    -fx-effect: dropshadow( three-pass-box , rgba(27, 28, 42, 0.6), 5, 0.0 , 0 , 1 );
}

.list {
    -fx-background-color: #2f3033;
}

.list .list-cell:hover {
    -fx-background-color: #535c68;
}

.list .list-cell:selected {
    -fx-background-color: none;
}

.list .list-cell {
    -fx-background-color: #2f3033;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-alignment: center;
}

.list .label {
    -fx-text-fill: white;
}